@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}
nav a.active{
  color: rgb(156, 233, 14);
}
#banner{
  
    background:linear-gradient(0deg, rgba(22, 21, 22, 0.87), rgba(15, 2, 10, 0.3)), url('/background1.jpg');
     background-size: cover;
    background-repeat: no-repeat;
    color: white;
 
}
#bannerCategori{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
}
@tailwind base;
@tailwind components;
@tailwind utilities;